button {
  color: var(--heading-1);
  background: 0 0;
  font: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid var(--heading-1);
  border-radius: 4px;

  &:hover {
    color: var(--paragraph-color);
    background: var(--heading-1);
    cursor: pointer;
  }
}
