

  .card-container {
    margin-left: 56%;
    margin-top: 2%;
    display: flex;
    gap: 10%;
    justify-content: center;
    flex-wrap: wrap;
    width: 28%;
    row-gap: 10%;

    
    .card {
      flex: 27%;
      background: var(--heading-1);
      width: 250px;
      height: 300px;
      transition: 0.2s ease-out;
      margin-bottom: 10%;

      position: relative;
      opacity: 0;
      animation: backInRight 1s 1.2s;
      animation-fill-mode: forwards;

      &:hover {
        box-shadow: 0 10px 22px var(--card-shadow) !important;
        transform: translate3d(0, -5px, 0) !important;
        cursor: default !important;
      }

      .card-title {
        color: var(--card-text);
        font-weight: 400;
        font-size: 30px;
        padding-left: 8%;
        padding-top: 10%;
        min-height: 27%;
        font-family: 'Quicksand-semi-bold';
      }
      .card-description {
        color: var(--card-text);
        font-weight: 300;
        font-size: 16px;
        padding-left: 10%;
        padding-top: 8%;
        padding-right: 5%;
        font-family: 'Quicksand-regular';
      }
    }

  }

  
