:root {
  --main-background: #022c43;
  /*Titles*/
  --heading-1: #ffd700;
  --heading-1-hover: #fff;
  --heading-2: #8d8d8d;
  /*Card*/
  --card-text: #022c43;
  --card-shadow: rgba(141, 141, 141);
  /*Paragraph*/
  --paragraph-color: #fff;
  --paragraph-error-color: #ff1744;
  /*Buttons*/
  --color-button: #ffd700;
  --color-hover-button: #333;
  --background-button: #022c43;
  --background-button-hover:  #ffd700;
  --border-button: #ffd700;
  --border-button-hover: #022c43;
  /*Navbar*/
  --navbar-background: #181818;
  --navbar-link: #4d4d4e;
  /*Input*/
  --input-background: #115173;
  /*Map*/
  --map-background: rgba(8, 253, 216, 0.1);
  --project-card-color:#fff;
}

[theme='light'] {
  --main-background: #E8EAF6
  ;
  /*Titles*/
  --heading-1: #022c43;
  --heading-1-hover: #ffd700;
  --heading-2: #8d8d8d;
  /*Card*/
  --card-text: #fafafa;
  --card-shadow: rgba(141, 141, 141);
  /*Paragraph*/
  --paragraph-color: #000;
  --paragraph-error-color: #ff1744;
  /*Buttons*/
  --color-button: #333;
  --color-hover-button: #333;
  --background-button: #E8EAF6;
  --background-button-hover:  #ffd700;
  --border-button: #ffd700;
  /*Navbar*/
  --navbar-background: #f2f3f7;
  --navbar-link: #4d4d4e;
  /*Input*/
  --input-background: #f2f3f7;
  /*Map*/
  --map-background: #C5CAE9;
  --project-card-color:#fff;
}

html {
  font-size: 62, 5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: var(--main-background);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}
